/* src/components/HeroSection.css */

.perspective {
  perspective: 1200px;
}

.transform-style-3d {
  transform-style: preserve-3d;
}

.animate-rotate3D {
  animation: rotate3D 4s linear infinite;
}

@keyframes rotate3D {
  0% {
    transform: rotateY(0deg);
    scale: 1;
  }
  50%{
    scale: 1;
  }
  100% {
  scale: 1;
  }
}
